<!DOCTYPE html>
<html>
  <head>
    <title>Macroprep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div>
      <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
        <%= link_to 'MacroPrep', root_path,  class: 'w3-bar-item w3-button w3-hover-light-gray' %>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right">
          <a href="#about" class="w3-bar-item w3-button w3-hover-light-gray">About</a>
          <a href="#contact" class="w3-bar-item w3-button w3-hover-light-gray">Contact</a>
          <% if current_user %>
            <%= button_to "Sign Out", user_sign_out_path, method: :delete, class: 'w3-button', form_class: 'form-inline' %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
